.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Clock{
    height: 400px;
    width: 400px;
    background: rgb(237, 237, 237);
    border-radius: 100%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    border: 10px solid black;
}
.TimeSymbolsContainer{
    position: relative;
    top: 25px;
}
.TimeSymbols{
    display: repeat(10, auto);
    height: 25px;
    width: 5px;
    background: black;
}